@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font + color fix */
html, body {
  background-color: #f3f4f6; /* light gray */
  color: #111827;           /* dark text */
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial;
}
